# ===== IAR Embedded Workbench =====
# файлы рабочих пространств и настроек
**/*.eww
**/*.prv
**/*.ewp.user
**/*.ewp.filters
**/*.ewpDebug
**/*.ewpRelease

# папки сборки
**/Debug/
**/Release/
**/Output/

# object-файлы, библиотеки, промежуточные
**/*.o
**/*.obj
**/*.a
**/*.lib
**/*.d
**/*.hex
**/*.bin
**/*.map

# лог-файлы, временные файлы
**/*.log
**/*.tmp
**/*~
**/#*#
**/.#*
**/*.bak

# автогенерируемые папки/файлы
**/GeneratedFiles/
**/build/
**/dist/

# пользовательские и системные
**/*.user
**/*.settings
**/*.cache
*.DS_Store
Thumbs.db

# ===! Всё прочее !===

# Разрешаем явную загрузку этих расширений:
!**/*.ewp
!**/*.ewp.*
!**/*.ewd
!**/*.ewd.*
!**/*.c
!**/*.cpp
!**/*.cxx
!**/*.cc
!**/*.h
!**/*.hpp
!**/*.hxx
!**/*.s
!**/*.S
!**/*.ld
!**/*.yml
!**/*.yaml
!**/*.mk
!**/*.txt
!**/*.md
!**/*.json
!LICENSE
!README.md
